// .custom-warning {
//   background-color: #2d1e0f;
//   border-left: 5px solid #f0883e;
//   padding: 1rem;
//   color: #f5deb3;
//   font-weight: 600;
//   border-radius: 6px;
// }

.main-content {
  max-width: 1100px !important; // ancho deseado, por ejemplo 1100px
}

.main {
  max-width: 1100px !important;
}

// prueba
.sidebar {
  font-size: 14px !important; // Ajusta el tamaño deseado
}

.breadcrumb-nav-list-item {
  font-size: 14px !important; // Ajusta el tamaño deseado
}

h1, h2, h3, h4, h5, h6 {
  color: #BDAE98!important;
  font-weight: bold !important;
}

code{
  font-size: 13px;
}

table{
  border: 1px solid #998870 !important;
}

// pre{
//   background-color: darkgrey !important;
// }

// pre:has(code.language) {
//   /* Este selector selecciona el <pre> */
//   background-color: darkgrey !important;
// }


pre:has(> code[class^="language"]) {
  background-color: darkgrey !important;
  border: 2px solid #887357 !important;
}

// pre {
//   background-color: darkgrey !important;
// }

// border del codigo
.language-plaintext,
.language-plaintext .highlight {
  border-radius: 15px !important;
  background-color: #000407 !important;
  color: white !important;

}

// border del codigo
.language-terminal,
.language-terminal .highlight {
  border-radius: 15px !important;
  background-color: #000407 !important;
  color: white !important;

}