
@media (min-width: 1024px) {
  .main-content {
    max-width: 1100px;
  }
}

// 🔧 Cambiar tamaño base de fuente
body {
  font-size: 17px; // por defecto es ~16px
  line-height: 1.7; // mejora legibilidad
}

.main-content {
  font-size: 17px; // por defecto es ~16px
  line-height: 1.7;
}