
$blue-background: #007bff; // Un azul brillante de ejemplo

$color-scheme-main: $blue-background;

$body-background-color: $blue-background;

$link-color: #e63946; 

$sidebar-color: #43f507; 


$body-text-color: #1d3557; 

// Color de la tipografía de encabezados
$heading-color: #457b9d; 

.custom-warning {
  background-color: #fff0f0; 
  border-left: 5px solid $link-color; 
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  color: $link-color; 

  p {
    margin: 0; 
  }
}

// Sobrescribir el tamaño de fuente para todo el contenido principal
.main-content {
  font-size: 1.1em;
  line-height: 1.6;
}