
@import "./color_schemes/dark";

// fondos
$body-background-color: #283138;
$sidebar-color: #0E171f;

// textos

$body-text-color: #d6d7dd;
$link-color: #998870;
$link-color-hover: #080808;
$heading-color: #a6ff00 !default;


// Código
$code-background-color: #242628 ;
$code-text-color: #f18100 ;
$code-border-color: #30363d ;


// pruebas

$border-color: #BDAE98;
$table-background-color: #242628;