$body-background-color: #212121;
$body-text-color: #9b9CA2;
$link-color: #e63946;
$sidebar-color: #181818;
$heading-color: #457b9d;


// Código
$code-background-color: #161635 ;
$code-text-color: #f18100 ;
$code-border-color: #30363d ;