// fondos
$body-background-color: #283138;
$sidebar-color: #0E171f;

// textos

$body-text-color: #9b9CA2;
$link-color: #e63946;
$heading-color: #457b9d;


// Código
$code-background-color: #242628 ;
$code-text-color: #f18100 ;
$code-border-color: #30363d ;